body {
  margin: 0;
  padding: 0;
}
.secao {
  position: relative;
}
#secao-01 {
  background-color: #0b77c5;
}
#secao-02 {
  background-color: #fff;
}
#secao-03 {
  background-color: #000;
}
#secao-04 {
  background-color: #ccc;
}
.icone-scroll {
  position: absolute;
  bottom: 3em;
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 50%;
  left: 50%;
  margin-left: -25px;
  cursor: pointer;
}
.scroll {
  width: 15px;
  height: 15px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  position: relative;
}
.scroll-next {
  transform: rotate(45deg);
  margin: 14px 0 0 16.5px;
}
.scroll-top {
  transform: rotate(225deg);
  margin: 19px 0 0 17px;
}
.scroll-top + .scroll-top {
  top: -15px;
  margin-top: 0;
}

.titulo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sub-titulo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #FFFFFF; 
    font-size: 250%;
    font-family: caviar-dream;
}

@font-face {
  font-family: caviar-dream;
  src: url(fonts/CaviarDreams_Bold.ttf);
}

.barra-next {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction and if we allow the items to wrap Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  
  /*
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  */
}

@media all and (max-width: 800px) {
  .titulo {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .titulo {
    flex-flow: column wrap;
    padding: 0;
  }
}
