body {
  margin: 0;
  padding: 0;
}

.secao {
  position: relative;
}

#secao-01 {
  /*background-color: #05052D; */
  background-color: #05052D;
}

#secao-02 {
  background-color: #fff;
}

#secao-03 {
  background-color: #000;
}

#secao-04 {
  background-color: #ccc;
}

.icone-scroll {
  position: absolute;
  bottom: 1%;
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 50%;
  left: 50%;
  cursor: pointer;
  /* 
  margin-left: -25px;
  bottom: 3em; 
  */
}

.scroll {
  width: 15px;
  height: 15px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  position: relative;
}

.scroll-next {
  transform: rotate(45deg);
  margin: 14px 0 0 16.5px;
  
}

.scroll-top {
  transform: rotate(225deg);
  margin: 19px 0 0 17px;
}

.scroll-top + .scroll-top {
  top: -15px;
  margin-top: 0;
}

@font-face {
  font-family: caviar-dream;
  src: url(fonts/CaviarDreams_Bold.ttf);
}

.texto {
  font-family: caviar-dream;
}

.container {
  width: 100%;
  height: 50%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;

  /*position: relative;*/
}

.divTableCell,
.divTableHead {
  border: 1px solid #ffffff;
  text-align: center;
  /*
  display: table-cell;
  padding: 3px 10px;
  */
}

@media (max-width: 320px) {
  .divTableCell {
    width: 50%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

@media screen and ( max-width: 600px ) {
  .container { 
    width: 100%; 
    margin-top: 0;
  }
}

.col-xs-offset-3, .col-xs-offset-4 {
    margin-bottom: 5%;
}

@media (min-width: 992px) {
  .col-md-offset-0, .col-xs-offset-3 {
    margin-left: 0%;
    margin-bottom: 0%;
  }
}


/**
Testes de responvidade
*/

@media (min-width: 425px) {

  #div-seta-1 {
    transform: rotate(0deg);
    margin-top: 0%;
  }

  #div-seta-2, #div-seta-3, #div-seta-4 {
    transform: rotate(0deg);
    margin-top: -75%;
  }

  #seta-1-vertical {
    visibility: visible;
    transform: scale(0.55);
    margin-top: -5%;
    margin-bottom: 2%;
  }

  #seta-1-horizontal {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-2-vertical {
    visibility: visible;
    transform: scale(0.55);
    margin-top: -75%;
  }

  #seta-2-horizontal {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-3-vertical {
    visibility: visible;
    transform: scale(0.55);
    margin-top: -75%;
  }

  #seta-3-horizontal {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-4-vertical {
    visibility: visible;
    transform: scale(0.55);
    margin-top: -75%;
  }

  #seta-4-horizontal {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #div-hospital {
    transform: scale(0.4);
    margin-top: -130%;
    text-indent: 32%;
  }

  #container-setas {
    margin-left: 30%;
  }
}

@media (min-width: 992px) {

  #div-seta-1 {
    transform: rotate(0deg);
    margin-top: 0%;
  }

  #div-seta-2, #div-seta-3, #div-seta-4 {
    transform: rotate(0deg);
    margin-top: 0%;
  }

  #seta-1-vertical {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-1-horizontal {
    visibility: visible;
    transform: scale(1.2);
    margin-top: -80%;
  }

  #seta-2-vertical {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-2-horizontal {
    visibility: visible;
    transform: scale(1.2);
    margin-top: -80%;
  }

  #seta-3-vertical {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-3-horizontal {
    visibility: visible;
    transform: scale(1.2);
    margin-top: -80%;
  }

  #seta-4-vertical {
    visibility: hidden;
    transform: scale(0);
    margin: 0%;
    padding: 0%;
  }

  #seta-4-horizontal {
    visibility: visible;
    transform: scale(1.2);
    margin-top: -80%;
  }

  #div-hospital {
    transform: scale(0.75);
    margin-top: 0%;
    text-indent: 0%;
  }

  #container-setas {
    margin-left: 0%;
  }
}