body {
  margin: 0;
  padding: 0;
}

.secao {
  position: relative;
}

#secao-01 {
  background-color: #0b77c5;
}

#secao-02 {
  background-color: #fff;
}

#secao-03 {
  background-color: #000;
}

#secao-04 {
  background-color: #ccc;
}

.icone-scroll {
  position: absolute;
  bottom: 3em;
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 50%;
  left: 50%;
  margin-left: -25px;
  cursor: pointer;
}

.scroll {
  width: 15px;
  height: 15px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  position: relative;
}

.scroll-next {
  transform: rotate(45deg);
  margin: 14px 0 0 16.5px;
}

.scroll-top {
  transform: rotate(225deg);
  margin: 19px 0 0 17px;
}

.scroll-top + .scroll-top {
  top: -15px;
  margin-top: 0;
}

.container {
  width: 100%;
  height: 50%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  /*position: relative;*/
}

.divTableCell,
.divTableHead {
  border: 1px solid #ffffff;
  /*display: table-cell;
    padding: 3px 10px;*/
  text-align: center;
}

@media (max-width: 320px) {
  .divTableCell {
    width: 100%;
  }
}